@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');
@import './base.css';
@import "tailwindcss";


.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    opacity: 0;
    animation: fall 5s linear infinite;
}
@keyframes fall {
    0% {
        transform: translate(0, -100px) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), 100vh) rotateZ(720deg);
        opacity: 0;
    }
}
.spin-wheel-container {
    width: 85vmin; /* Use vmin for responsive sizing */
    max-width: 400px;
}
.spin-wheel {
    transition: transform 5s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.slice-label {
    transform: rotate(var(--rotation));
}

.p-popover-content {
  padding: 0 !important;
}